-i https://pypi.org/simple/
bcrypt==3.2.0
blinker==1.4
cffi==1.14.5
click==8.0.1
dataclasses==0.8 ; python_version < '3.7'
flask-bcrypt==0.7.1
flask-login==0.4.1
flask-mail==0.9.1
flask-sqlalchemy==2.4.1
flask-wtf==0.14.2
flask==1.1.1
greenlet==1.1.0 ; python_version >= '3'
importlib-metadata==4.5.0 ; python_version < '3.8'
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
pillow==8.2.0
pycparser==2.20
six==1.16.0
sqlalchemy==1.4.17
typing-extensions==3.10.0.0 ; python_version < '3.8'
werkzeug==2.0.1
wtforms==2.3.3
zipp==3.4.1
